################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContinuousTraining/bin/Debug/netcoreapp2.0
/ContinuousTraining/obj
/Tests/bin/Debug/netcoreapp2.0
/Tests/obj
